/* gets rid of white space */
body { margin:0; } 

html{
    scroll-behavior: smooth;
  }

:root {
    --maroon-color:rgb(156, 53, 53);
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    font-family: 'Rubik', sans-serif;
    
  }
th, td {
    padding: 7px;
    text-align: center;
}
#data {
    font-size: 17px;
    font-weight: bolder;
}
#country {
    font-size: 14px;
    font-weight: bolder;
}
table {
    table-layout: absolute;
    /* position: fixed; */
    /* top: 40%; */
    /* left: 72%;  */
}



.topnav{
    width: 100%;
    height: 10vh;
    background-color: rgb(245, 245, 220);
    background-size: cover;
    display:flex;
}

#logodiv {
    display:flex;
    margin-left: 5%;
    margin-top: 1%;
    width: 20%;
}

#links {
    width: 75%;
}

#logotext {
    font-weight: bold;
    float: left;
    color: rgb(224, 168, 104);
    text-align: center;
    padding: 1% 5%;
    text-decoration: none;
    font-size: 35px;
    font-family: 'Rubik', sans-serif;
}

.topnav a {
    position: relative;
    font-weight: bold;
    float: right;
    color: var(--maroon-color);
    text-align: right;
    padding: 0.5% 2.5%;
    top: 30%;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    
    }

/* line under links */
.topnav a:before{
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0;
    left: 10%;
    background-color: var(--maroon-color);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    
}
.topnav a:hover:before {
    
    visibility: visible;
    transform: scaleX(1);
  }

.topnav a:hover {
    font-weight: bolder;
    font-size: 26px;
    color: var(--maroon-color);
    text-decoration: none;
}

.white-background {
    margin-left: 10px;
    margin-top: 20px;
    /* border: 2px solid rgb(0, 0, 0); */
    width: 68%;
    display: flex;
    justify-content: space-around;
    height : 20vh;
    float: left;

}
.fullBox {
    text-align: center;
    width: 25%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    
  }

.box {
    font-weight: bolder;
    border-radius: 10px 10px 0px 0px;
    height: 60%;
    font-size: 50px;
    font-size: 3.4vw;
    line-height: 120px;
    box-shadow: 10px 10px 5px grey;
}
.base {
    border-radius: 0px 0px 10px 10px;
    font-size: 25px;
    height: 30%;
    line-height: 50px;
    box-shadow: 10px 10px 5px grey;
    
}
.updates{
    height : 50px;
    text-align: left;
    font-size: 25px;
    font-family: 'Rubik', sans-serif;

}
.dropbtn{
    width: 85%;
    background-color: rgb(237, 242, 247);
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    padding: 10px 28px;
    text-align: center;
    display: inline-block;
    font-size: 22px;
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;

}

#live {
    width: 19%;
    
}

#graphdiv{
    margin-left: 30px;
    margin-top: 50px;
    width: 68%;
    overflow: visible;
    float: left;
}
#chart{
    height: 50%;

}

#reddiv {
    background-color: rgba(236, 158, 158, 0.5);
    color: rgb(255, 0, 0);
}
#graydiv {
    background-color: rgba(105, 103, 103, 0.5);
    color: rgb(75, 73, 73);
}
#greendiv {
    background-color: rgba(126, 248, 152, 0.500);
    color: rgb(50, 148, 47);
  
}

#red_base {
    background-color: rgb(241, 79, 79);
    color: rgb(255, 255, 255);
}
#gray_base {
    background-color: rgb(105, 103, 103);
    color: rgb(255, 255, 255);
}
#green_base {
    background-color: rgb(126, 248, 152);
    color: rgb(255, 255, 255);
  
}

#tableContainer {
    width : 28%;
    float: right;
    margin-top: -200px;
}

#tbldiv {
    /* width : 28%;
    float: right; */
    /* position: relative; */
    /* display: flex; */
    /* margin-left: 10%; */
    /* margin-top: 17%; */
}
#primary-text {
    margin-top: 40px;
    margin-left: 10px;
    padding: 1px 12px;
    font-size: 25px;
    font-weight: bolder;
    font-family: "Rubik";
    text-transform: uppercase;
    color: var(--maroon-color);
    border-left: 4px solid var(--maroon-color);
}

#statsTable {
    text-align: center;
    width: 90%;
    margin-left: 12px;
    margin-top: 30px;
    font-size: 1vw;
}

#navbar {
    overflow: hidden;
    border-bottom: 3px solid var(--maroon-color);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.home {
    background-color: rgb(255,250,240);
    padding: 16px;
    height: 150vh;
}
.sticky + .home {
padding-top: 80px;
}

#about {
    height: 300vh;
    width: 100%;
    background-color: rgb(255,250,240);
}

#container {
    background-color: rgb(255, 252, 248);
    /* overflow:hidden; */
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    height: 900px;  
    padding: 5px;
    border: 5px solid var(--maroon-color);
    border-radius: 15px;

}

#myinfo{
    height : 50%;
    border-bottom: solid black;
    background-color: white;
}

#imghover:hover {
    box-shadow: 10px 10px 5px grey;
    transform: rotate(-10deg);
}